@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NBArchitektStd-Light';
  src: url('/fonts/NBArchitektStd-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NBArchitektStd-Regular';
  src: url('/fonts/NBArchitektStd-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NBArchitektStd-Bold';
  src: url('/fonts/NBArchitektStd-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-UltraLight';
  src: url('/fonts/Geist-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Light';
  src: url('/fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Regular';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('/fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Black';
  src: url('/fonts/Geist-Black.woff2') format('woff2');
}

:root {
  font-family: 'NBArchitektStd-Light';
  line-height: 1.5;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}